<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thyroid Disease Prediction</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" href="static/images/banner_1.png"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Thyroid Disease Prediction</title>
</head>
<body>
<bgcolor=”#DBF9FC">
    <header>
        <div class="mainheader">

            <nav class="nav">
                <div class="container">
                    <div id="mainListDiv" class="main_list">
                        <ul class="navlinks">

                        <li> <a href="/"><span></span><button class="btn btn--radius-3 btn--violet" type="submit">HOME</button>
			<li> <a href="/predict"><span></span><button class="btn btn--radius-3 btn--violet" type="submit">PREDICT</button>
                  
</a></li>
                        </ul>
                    </div>
                    <span class="navTrigger">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </div>
            </nav>

        </div>
  <main>
            <section class="left-sec">
                <h2> We Are Here For Your Care</h2>
                <h1>Thyroid Disease Prediction</h1>
                               
            </section>

            <section class="right-sec">
                  <figure>
                    <img src="static/images/thyroid.jpg">
                </figure>
            </section>
        </main>


</header>
    
   </body>

</html>